/* yuzm */
$theme:#852c2b;
$fontColor: #646464;
$sku: #999;
$price: #903130;
$timesQuantity: #c8c8c8;
$pTitle: #333;
$grayPrice: #9b9b9b;
$backColor: #f5f5f5;
$commentText: #646464;
$commentTime: #c8c8c8;
$skuBack: #e6e6e6;
$skuActive: #852c2b;
$proTag: #f5a623;
